/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.legend-history-container {
  height: calc(100vh - 150px); /* Subtracting 121 pixels from the viewport height */
  overflow-y: auto; /* Adding vertical scroll if content overflows */
}